.locations {
  display: flex;
  /* flex-direction: wrap; */
  /* flex-wrap: inherit; */
  justify-content: space-evenly;
  /* flex-flow: wrap; */
  align-content: flex-start;
}

.title {
  text-align: center;
}

.name {
  text-align: center;
}


.icon--dog {
  width: 50px;
  height: 50px;
}

.card {
  width: 15rem;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.card-link {
  margin: 12px 0 0 90px;
  font-size: 0.7em;
}

img {
  margin-left: 65px;
  margin-bottom: 30px;
  height: 100px;
  width: 100px;
}